/*we have 0 brains*/
/* Import Code */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #e2e6ed;
    margin: 0;
    padding: 20px;
}

.review{
    margin: auto;
    padding: 0 20px;
}
p {
    font-family: Roboto;
    padding: 0 20px;
}

h2 {
    font-family: Montserrat;
    padding: 0 20px;
    max-width: 900px;
    margin: auto;
}
h3 {
    font-family: Roboto;
    padding: 0 20px;
}
header,
.deforestation {
    max-width: 900px;
    margin: auto;
}

h1 {
    font-family: Montserrat;
    text-align: justify;
}
.imgsnap img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}
figcaption {
    text-align: justify;
    margin-top: 5px;
}

.deforestation div {
    margin-bottom: 40px;
}

/* The source of Deforestation Background */
.source {
    font-size: 14px;
    color: gray;
}

.source a {
    color: #2e7d32;
    text-decoration: none;
}

.source a:hover {
    text-decoration: underline;
}
