/*we have 0 brains*/
/* Import Code */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin-right: 10px;
    margin-left: 10px;
    padding: 50px;
    padding-bottom: 10px;
    background-color: #e2e6ed;
    background-size: 5em 5em;
    opacity: 1;
}
pre {
    font-family: Roboto;
    text-shadow: -1px -1px 0 #374050;width:75%;
}
p {
    font-family: Roboto;
    text-shadow: -1px -1px 0 #374050;width:75%;
    padding: 20px;
    /* white-space: pre-wrap;
    /* overflow-wrap: break-word;
    /* word-wrap: break-word;*/
}


/*review*/
.review-container {
    position: relative;
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}
.rating {
    font-size: 20px;
    margin: 10px 0;
}

.stars {
    font-size: 30px;
    margin: 10px 0;
}

.star {
    cursor: pointer;
    margin: 0 5px;
}

.one {
    color: rgb(255, 0, 0);
}

.two {
    color: rgb(255, 106, 0);
}

.three {
    color: rgb(251, 255, 120);
}

.four {
    color: rgb(255, 255, 0);
}

.five {
    color: rgb(24, 159, 14);
}

textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.comment-box{
  display:flex;
  flex-direction:column;
  width:300px;
}

#comments div{
  border-bottom:1px solid #ccc;
  padding:5px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.comment{
  border-bottom:1px solid #ddd;
  padding:10px;
}

.comment-header{
  font-size:14px;
  color:#444;
}

.comment-time{
  margin-left:10px;
  font-size:12px;
  color:#888;
}

.comment-text{
  margin-top:5px;
}

.header, h1{
    font-family: Montserrat;
}

/* The source of Deforestation Background */
.source {
    font-size: 14px;
    color: gray;
}

.source a {
    color: #2e7d32;
    text-decoration: none;
}

.source a:hover {
    text-decoration: underline;
}